/* Media Query for Mobile Devices (max-width: 768px) */
@media (max-width: 768px) {
    
    /* Hero image styling for mobile */
    .hero-image {
        width: 100%; /* Make the image scale to the width of its container */
        height: auto; /* Maintain aspect ratio and adjust height automatically */
        max-height: 245px; /* Set a maximum height if needed */
    }

    /* Custom padding for elements */
    .custom-padding {
        padding-top: 100px; /* Override the top padding specifically for mobile */
    }
}

.fst-btn-bg-color {
    background-color: #f8f9fa;
}

.hero-image {
    height: 1000px;
    max-width: 5000px;

}

.subheading {
    max-width: 500px;
   
  }

  .customimg {
      max-width: 50px;
      /* Restricts the maximum width to 50px */
      height: auto;
      /* Keeps the aspect ratio intact */
  }

  .tmimg {

      max-width: 50px;
      height: 50px;
  }
  
  imgct {
    max-height: 500px; 
    object-fit: cover; 
    
  }
  
